body {
    margin: 0;
    display:flex;
    flex-direction: column;
}

p {
    color:red;
}

.navbar {
    display:flex;
    justify-content: space-evenly;
    width: 100vw;
    list-style-type: none;
    margin:0;
    padding:0;
}

.nav-btn {
    padding: 20px;
}

.gmail {
    margin-left:auto;
}

