body {
    margin: 0;
    display:flex;
    flex-direction: column;
	height: 100vh;
}

main {
    margin: auto auto 300px;
}	

p {
    color:red;
}

.navbar {
    display:flex;
    justify-content: space-evenly;
    width: 100vw;
    list-style-type: none;
    margin:0;
    padding:0;
}

.nav-btn {
    padding: 20px;
}

.gmail {
    margin-left:auto;
}

.logo,
.search-bar {
    display:block;
}

.search-bar,
.main-btns {
	margin:auto;
}

.main-btns {
	text-align:center;
}

footer {
    display:flex;
    background-color: grey;
}
